html, body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

img, span {
  vertical-align: middle;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #4a4a4a;
}

.clear_fix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/*媒体查询*/
@media screen and (max-width: 320px) {
  body, html {
    font-size: 12px;
  }
}

@media screen and(min-width: 321px)and(max-width: 359px) {
  html {
    font-size: 12.8px;
  }
}

@media screen and(min-width: 360px)and(max-width: 374px) {
  html {
    font-size: 14.4px;
  }
}

@media screen and(min-width: 375px)and(max-width: 385px) {
  html {
    font-size: 15px;
  }
}

@media screen and(min-width: 386px)and(max-width: 392px) {
  html {
    font-size: 15.44px;
  }
}

@media screen and(min-width: 393px)and(max-width: 400px) {
  html {
    font-size: 16px;
  }
}

@media screen and(min-width: 401px)and(max-width: 414px) {
  html {
    font-size: 16.48px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 30.72px;
  }
}

/*提示框的样式*/
/* #dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 99;
} */

#dialog_content {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  margin-left: -17.5%;
  width: 35%;
  background-color: #656363;
  text-align: center;
  padding: 0.6rem 0;
  border-radius: 5px;
  font-size: .78rem;
  color: #fff;
}

.scale{
  animation: scale .3s cubic-bezier(0.18, 0.89, 0.32, 1.28)
}

@keyframes scale {
  from { transform: scale(0); }
  to{ transform: scale(1)}
}

ul {
  list-style-type: none;
}

ul li {
  padding: .3rem .59rem;
  background-color: #fff;
  margin-bottom: .72rem;
}

.list_item {
  margin: .72rem 0;
}

.list_item > div:first-child {
  float: left;
  width: 2.12rem;
  line-height: .9rem;
  text-align: center;
}

.list_item img {
  width: .9rem;
  height: auto;
}

.list_item > div:last-child {
  margin-left: 2.71rem;
  font-size: 1.04rem;
  text-align: left;
}

.list_item.list_item_img > div:first-child {
  line-height: 1.5rem;
}

.list_item.list_item_img img {
  width: 1.3rem;
}

.list_item_img .status{
  font-size: 12px;
  margin-left: 5px;
  color: #fff;
  padding: 3px 7px;
  top: -2px;
  position: relative;
  border-radius: 3px;
}
.list_item_img .leave{
  background: #c31a07;
}
.list_item_img .no-leave{
  background: #36b920;
}

.list_item > div.list_item_spec {
  color: #666666;
  font-size: .87rem;
}
